{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
   <div class="container my-5 mx-auto " style="max-width:600px">
    
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

<form class="bg-light">

<div class="d-flex" >
<h3 class="mb-3 font-weight-normal">Se connecter</h3>
</div>
        <hr>
    <div class="row">
  <div class="col">
       <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
  </div>

  <div class="col">
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
  </div>
    </div>

     <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

  
<br><hr>

 <div class="d-flex">
 <div class="col">
  <button class="btn btn-lg btn-primary sign-in-btn" type="submit">
            Sign in
        </button>

        <button class="btn btn-lg btn-primary register-btn">
            Register
        </button>
    </div>
           <div class="col text-right">
            <p><a href="{{ path('app_forgot_password_request') }}"> Mot de passe oublié <a/></p>
        </div>
  </div>
     
           <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        
        <script>
            const signInButton = document.querySelector('.sign-in-btn');
            signInButton.addEventListener('click', (event) => {
                if (document.querySelector('#inputEmail').value === '' || document.querySelector('#inputPassword').value === '') {
                    event.preventDefault();
                    alert('Please fill out both fields.');
                }
            });

            const registerButton = document.querySelector('.register-btn');
            registerButton.addEventListener('click', (event) => {
                event.preventDefault();
                window.location.href = '{{ path('app_register') }}';
            });
        </script>
    </form>
    </div>

{% endblock %}