{% extends 'layouts/app.html.twig' %}

{% block title %}
    TalkSpace - Services
{% endblock %}

{% block body %}
    <div class="mb-8 flex items-center justify-between">
        <h1 class="text-3xl font-bold">
            Mes Services
        </h1>
        <a href="{{ path('app_doctor_service_new') }}"
            class="flex items-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            <svg xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-6 w-6">
                <path stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6" />
            </svg>
            <span>Ajouter une service</span>
        </a>
    </div>

    <table class="w-full rounded-md border border-gray-300 bg-white">
        <thead class="rounded-md bg-gray-100">
            <tr>
                <th class="px-6 py-4 text-left text-sm font-normal uppercase text-gray-500">
                    Nom de service
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
                <tr class="border-t border-gray-300">
                    <td class="px-6 py-4 text-sm">
                        {{ service.name }}
                    </td>
                    <td class="px-6 py-4">
                        <div class="flex items-center justify-end gap-2">
                            <a href="{{
                                path(
                                    'app_doctor_service_edit',
                                    {
                                        id: service.id
                                    }
                                )
                                }}"
                                class="rounded-md border border-transparent bg-indigo-600 py-1 px-3 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                                Modifier
                            </a>
                            <form method="POST"
                                action="{{
                                path(
                                    'app_doctor_service_delete',
                                    {
                                        id: service.id
                                    }
                                )
                                }}"
                                onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden"
                                    name="_token"
                                    value="{{
                                    csrf_token(
                                        'delete' ~ service.id
                                    )
                                    }}" />
                                <button class="rounded-md border border-transparent bg-red-600 py-1 px-3 text-sm font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">
                                    Supprimer
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr class="border-t border-gray-300">
                    <td colspan="3">
                        <div class="flex items-center justify-center p-8 text-gray-500">
                            Pas de services
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
