<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="apple-touch-icon"
            sizes="180x180"
            href="{{ asset('./apple-touch-icon.png') }}" />
        <link rel="icon"
            type="image/png"
            sizes="32x32"
            href="{{ asset('./favicon-32x32.png') }}" />
        <link rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{ asset('./favicon-16x16.png') }}" />
        <link rel="manifest" href="{{ asset('./site.webmanifest') }}" />
        <title>
            {% block title %}
                TalkSpace
            {% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-gray-100">
        <div class="flex min-h-screen flex-col">
            {% include 'components/navbar.html.twig' %}
            <div class="flex min-h-screen">
                {% include 'components/sidebar.html.twig' %}
                <main class="flex-1">
                    {% if app.user and app.user.isVerified != true %}
                        <div class="flex items-start gap-3 border-b border-gray-300 bg-red-200 p-4 text-sm text-red-700"
                            role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="h-6 w-6 flex-none">
                                <path stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                            </svg>
                            <span>
                                Votre compte n'est pas activé, veuillez vérifier
                                votre <b>boîte de réception e-mail</b> pour l'activer.
                            </span>
                        </div>
                    {% endif %}
                    {% if app.user and app.user.isActive != true %}
                        <div class="flex items-start gap-3 border-b border-gray-300 bg-red-200 p-4 text-sm text-red-700"
                            role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="h-6 w-6 flex-none">
                                <path stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                            </svg>
                            <span>
                                Votre compte est en attente de validation. Vous
                                serez averti(e) une fois qu'il aura été validé.
                                Si vous ne savez pas pourquoi,<a class="font-medium text-indigo-600" href={{ path('app_support') }}>
                                    contactez-nous.
                                </a>
                            </span>
                        </div>
                    {% endif %}

                    <div class="mx-auto w-11/12 py-8"
                        style="max-width: 1200px;">
                        {% for message in app.flashes('success') %}
                            <div role="alert"
                                class="mb-6 flex items-start gap-3 rounded-md bg-green-200 p-4 text-sm text-green-700">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="h-6 w-6">
                                    <path stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                                </svg>
                                <span>{{ message }}</span>
                            </div>
                        {% endfor %}

                        {% for message in app.flashes('error') %}
                            <div role="alert"
                                class="mb-6 flex items-start gap-3 rounded-md bg-red-200 p-4 text-sm text-red-700">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="h-6 w-6 flex-none">
                                    <path stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                                </svg>
                                <span>{{ message }}</span>
                            </div>
                        {% endfor %}

                        {% block body %}

                        {% endblock %}
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
