{% extends 'layouts/guest.html.twig' %}

{% block title %}
    TalkSpace - Centre d'aide
{% endblock %}

{% block body %}
    <main class="prose mx-auto py-16">
        <h1 class="text-3xl font-bold">
            Centre d'aide
        </h1>

        <h2>
            Questions fréquentes
        </h2>

        <ul>
            <li class="font-bold">Q: Qu'est-ce que TalkSpace ?</li>
            <li>
                R: TalkSpace est une plateforme en ligne de réservation de
                rendez-vous avec des thérapeutes. Elle permet aux utilisateurs
                de réserver des sessions de thérapie en ligne avec des
                professionnels certifiés et qualifiés.
            </li>
            <li class="font-bold">
                Q: Comment puis-je réserver une session de thérapie sur
                TalkSpace ?
            </li>
            <li>
                R: Pour réserver une session de thérapie sur TalkSpace, il
                suffit de créer un compte sur la plateforme, de remplir le
                formulaire d'évaluation et de choisir un thérapeute qui répond à
                vos besoins. Vous pouvez ensuite réserver une session à un
                moment qui vous convient.
            </li>
            <li class="font-bold">
                Q: TalkSpace est-il disponible dans tous les pays ?
            </li>
            <li>
                R: Non, TalkSpace est actuellement disponible uniquement aux
                États-Unis et au Canada. Toutefois, l'entreprise travaille à
                étendre ses services à d'autres pays à l'avenir.
            </li>
        </ul>

        <h2>
            Vous souhaitez nous contacter ?
        </h2>

        {{ form_start(contactForm) }}
        <div class="flex flex-col gap-2">
            <div class="flex flex-col items-center gap-2 md:flex-row">
                <div class="flex-1">
                    {{ form_row(contactForm.firstname) }}
                </div>
                <div class="flex-1">
                    {{ form_row(contactForm.lastname) }}
                </div>
            </div>
            <div>
                {{ form_row(contactForm.email) }}
            </div>
            <div>
                {{ form_row(contactForm.message) }}
            </div>
        </div>
        <button type="submit"
            class="mt-4 rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            Envoyer
        </button>
        {{ form_end(contactForm) }}
    </main>
{% endblock %}
