<section>
    <h3 class="text-xl font-bold">
        Calendrier
    </h3>

    {% for schedule in schedules %}
        <div>
            <p>
                {{ schedule.day }}
            </p>
            <ul>
                {% for period in schedule.getPeriods() %}
                    <li>
                        <div>
                            {{ period.startTime|date('H:i') }} - {{
                                period.endTime|date('H:i')
                            }}
                        </div>
                        <form method="POST"
                            action="{{
                            path(
                                'app_doctor_settings_period_delete',
                                {
                                    id: period.id
                                }
                            )
                            }}"
                            onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden"
                                name="_token"
                                value="{{
                                csrf_token(
                                    'delete' ~ period.id
                                )
                                }}" />
                            <button>Supprimer</button>
                        </form>
                    </li>
                {% else %}
                    <li>Pas de periods</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

    {{ form_start(periodForm) }}
    {{ form_widget(periodForm) }}
    <button type="submit">Ajouter</button>
    {{ form_end(periodForm) }}
</section>
