<section class="mt-8">
    <div class="flex gap-4">
        <h3 class="items-center whitespace-nowrap text-xl font-bold">
            Calendrier
        </h3>
        <span class="mt-4 w-full flex-1 bg-gray-300" style="height: 1px;">

        </span>
    </div>

    {{ form_start(scheduleForm) }}
    <div class="mt-8 flex flex-col items-stretch gap-2 md:flex-row md:items-end">
        <div class="flex-1">
            {{ form_row(scheduleForm.schedule) }}
        </div>
        <div class="flex-1">
            {{ form_row(scheduleForm.startTime) }}
        </div>
        <div class="flex-1">
            {{ form_row(scheduleForm.endTime) }}
        </div>
        <button type="submit"
            class="mt-2 rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 md:mt-0">
            Ajouter
        </button>
    </div>
    {{ form_end(scheduleForm) }}

    <div class="mt-8 flex flex-col gap-2">
        {% for schedule in schedules %}
            <div class="flex items-center justify-between border border-gray-300 bg-white px-4 py-3">
                <h4 class="text-sm uppercase text-gray-500">
                    {{ schedule.day }}
                </h4>
                <div class="text-sm">
                    <span>De <b>{{ schedule.startTime|date('H:i') }}</b></span>
                    <span>À <b>{{ schedule.endTime|date('H:i') }}</b></span>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
