{% extends 'layouts/app.html.twig' %}

{% block title %}
    TalkSpace - Utilisateurs
{% endblock %}

{% block body %}
    <h1 class="mb-8 text-3xl font-bold">
        Utilisateurs
    </h1>

    <table class="w-full rounded-md border border-gray-300 bg-white">
        <thead class="rounded-md bg-gray-100">
            <tr>
                <th class="px-6 py-4 text-left text-sm font-normal uppercase text-gray-500">
                    Nom
                </th>
                <th class="px-6 py-4 text-left text-sm font-normal uppercase text-gray-500">
                    Adresse e-mail
                </th>
                <th class="px-6 py-4 text-left text-sm font-normal uppercase text-gray-500">
                    Rôle
                </th>
                <th class="px-6 py-4 text-left text-sm font-normal uppercase text-gray-500">
                    Statut
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr class="border-t border-gray-300">
                    <td class="px-6 py-4 text-sm">
                        <div class="flex items-center gap-3">
                            <img src="{{
                                asset(
                                    'uploads/profile/' ~ user.profilePicture
                                )
                                }}"
                                class="h-10 w-10 rounded-full object-cover" />
                            <span>
                                {{ user.firstname }} {{ user.lastname }}
                            </span>
                        </div>
                    </td>
                    <td class="px-6 py-4 text-sm">
                        {{ user.email }}
                    </td>
                    <td class="px-6 py-4 text-sm">
                        {{ user.role }}
                    </td>
                    <td class="px-6 py-4 text-sm">
                        {% if user.isActive %}
                            <span class="rounded bg-green-100 py-1 px-2 text-xs font-medium uppercase text-green-600">
                                Active
                            </span>
                        {% else %}
                            <span class="rounded bg-red-100 py-1 px-2 text-xs font-medium uppercase text-red-600">
                                Inactive
                            </span>
                        {% endif %}
                    </td>
                    <td class="px-6 py-4">
                        <div class="flex items-center justify-end gap-2">
                            <a href="{{
                                path(
                                    'app_admin_users_edit',
                                    {
                                        id: user.id
                                    }
                                )
                                }}"
                                class="rounded-md border border-transparent bg-indigo-600 py-1 px-3 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                                Modifier
                            </a>
                            <form method="POST"
                                action="{{
                                path(
                                    'app_admin_users_delete',
                                    {
                                        id: user.id
                                    }
                                )
                                }}"
                                onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden"
                                    name="_token"
                                    value="{{
                                    csrf_token(
                                        'delete' ~ user.id
                                    )
                                    }}" />
                                <button class="rounded-md border border-transparent bg-red-600 py-1 px-3 text-sm font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">
                                    Supprimer
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr class="border-t border-gray-300">
                    <td colspan="3">
                        <div class="flex items-center justify-center p-8 text-gray-500">
                            Pas d'utilisateurs
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
