{% extends 'layouts/app.html.twig' %}

{% block title %}
    TalkSpace - Utilisateurs
{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold">
        Utilisateurs
    </h1>

    <table>
        <thead>
            <tr>
                <th>
                    Prénom
                </th>
                <th>
                    Nom
                </th>
                <th>
                    Adresse e-mail
                </th>
                <th>
                    Rôle
                </th>
                <th>
                    Statut
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        {{ user.firstname }}
                    </td>
                    <td>
                        {{ user.lastname }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ user.role }}
                    </td>
                    <td>
                        {{ user.isActive ? 'ACTIVE' : 'INACTIVE' }}
                    </td>
                    <td>
                        <a href="{{
                            path(
                                'app_admin_users_show',
                                {
                                    id: user.id
                                }
                            )
                            }}">
                            Voir
                        </a>
                        <a href="{{
                            path(
                                'app_admin_users_edit',
                                {
                                    id: user.id
                                }
                            )
                            }}">
                            Modifier
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">
                        Pas d'utilisateurs
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
