{% extends 'base.html.twig' %}

{% block title %}
    TalkSpace - Utilisateur
{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold">
        Utilisateur
    </h1>

    <table>
        <tbody>
            <tr>
                <th>
                    Prénom
                </th>
                <td>
                    {{ user.firstname }}
                </td>
            </tr>
            <tr>
                <th>
                    Nom
                </th>
                <td>
                    {{ user.lastname }}
                </td>
            </tr>
            <tr>
                <th>
                    Adresse e-mail
                </th>
                <td>
                    {{ user.email }}
                </td>
            </tr>
            <tr>
                <th>
                    IsActive
                </th>
                <td>
                    {{ user.isActive ? 'Yes' : 'No' }}
                </td>
            </tr>
            <tr>
                <th>
                    IsVerified
                </th>
                <td>
                    {{ user.isVerified ? 'Yes' : 'No' }}
                </td>
            </tr>
            <tr>
                <th>
                    ProfilePicture
                </th>
                <td>
                    {{ user.profilePicture }}
                </td>
            </tr>
            <tr>
                <th>
                    Numéro de téléphone
                </th>
                <td>
                    {{ user.phoneNumber }}
                </td>
            </tr>
            <tr>
                <th>
                    Numéro de sécurité sociale
                </th>
                <td>
                    {{ user.socialNumber }}
                </td>
            </tr>
            <tr>
                <th>
                    Rôle
                </th>
                <td>
                    {{ user.role }}
                </td>
            </tr>
        </tbody>
    </table>

    <form method="POST"
        action="{{
        path(
            'app_admin_users_delete',
            {
                id: user.id
            }
        )
        }}"
        onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden"
            name="_token"
            value="{{ csrf_token('delete' ~ user.id) }}" />
        <button>Supprimer</button>
    </form>
{% endblock %}
