{% extends 'layouts/guest.html.twig' %}

{% block title %}
    TalkSpace - Trouver un thérapeute
{% endblock %}

{% block body %}
    <main class="mx-auto w-11/12 py-12" style="max-width: 1200px;">
        <h1 class="mb-8 text-3xl font-bold">
            Trouver un thérapeute
        </h1>

        <div class="flex flex-col gap-4">
            {% for doctor in doctors %}
                <div class="rounded-md border border-gray-300 bg-white p-8">
                    <div class="flex flex-col items-center gap-4 md:flex-row">
                        <div class="flex flex-1 items-center gap-4">
                            <img src="{{
                                asset(
                                    'uploads/profile/' ~ doctor.profilePicture
                                )
                                }}"
                                class="h-20 w-20 rounded-full object-cover" />
                            <div class="flex-1">
                                <h2 class="text-lg font-bold">
                                    {{ doctor.firstname }} {{ doctor.lastname }}
                                </h2>
                                <p class="text-sm text-gray-500">
                                    {{ doctor.account.experience }}
                                </p>
                                <div class="mt-2 flex items-center gap-2">
                                    {% for service in doctor.services %}
                                        <p class="rounded bg-indigo-600 px-2 py-1 text-xs font-medium uppercase text-white">
                                            {{ service.name }}
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <a href="{{
                            path(
                                'app_doctor_show',
                                {
                                    id: doctor.id
                                }
                            )
                            }}"
                            class="mt-4 flex items-center gap-2 rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 md:mt-0">
                            <span>Prenez rendez-vous</span>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="h-5 w-5">
                                <path stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                            </svg>
                        </a>
                    </div>
                    <p>
                        {{ doctor.account.description }}
                    </p>
                </div>
            {% else %}
                <div>
                    Pas de thérapeutes
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
