{% extends 'layouts/guest.html.twig' %}

{% block title %}
    TalkSpace - Trouver un thérapeute
{% endblock %}

{% block body %}
    <main class="">
        <h1 class="text-3xl font-bold">
            Trouver un thérapeute
        </h1>

        {% for doctor in doctors %}
            <div>
                <img src="{{
                    asset(
                        'uploads/profile/' ~ doctor.profilePicture
                    )
                    }}"
                    class="h-20 w-20 rounded-full object-cover" />
                <h2>
                    {{ doctor.firstname }} {{ doctor.lastname }}
                </h2>
                <p>
                    {{ doctor.account.experience }}
                </p>
                <p>
                    {{ doctor.account.description }}
                </p>
                <a href="{{
                    path(
                        'app_doctor_show',
                        {
                            id: doctor.id
                        }
                    )
                    }}">
                    Voir les disponibilités
                </a>
            </div>
        {% else %}
            <div>
                Pas de thérapeutes
            </div>
        {% endfor %}
    </main>
{% endblock %}
