{% extends 'layouts/guest.html.twig' %}

{% block title %}
    TalkSpace - Thérapeute
{% endblock %}

{% block body %}
    <main class="mx-auto w-11/12 py-12" style="max-width: 1200px;">
        <div class="flex flex-col items-center">
            <img src="{{ asset('uploads/profile/' ~ doctor.profilePicture) }}"
                class="h-20 w-20 rounded-full object-cover" />
            <h1 class="mt-2 text-2xl font-bold">
                {{ doctor.firstname }} {{ doctor.lastname }}
            </h1>
            <p class="text-sm text-gray-500">
                {{ doctor.account.experience }}
            </p>
        </div>

        <h2 class="mb-4 mt-8 text-2xl font-bold">
            Biographie
        </h2>
        <p>
            {{ doctor.account.description }}
        </p>

        <h2 class="mb-4 mt-8 text-2xl font-bold">
            Services
        </h2>
        <div class="flex flex-col gap-1">
            {% for service in doctor.services %}
                <div>
                    • {{ service.name }}
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
