<footer style="border:1px solid #000000;">
    <a href="{{ path('app_home') }}">TalkSpace</a>
    <nav>
        <a href="{{ path('app_about') }}">À propos</a>
        <a href="{{ path('app_support') }}">Centre d'aide</a>
        <a href="{{ path('app_privacy_policy') }}">
            Politique de confidentialité
        </a>
        <a href="{{ path('app_terms_of_service') }}">
            Conditions d'utilisation
        </a>
    </nav>
</footer>
