{% extends 'layouts/auth.html.twig' %}

{% block title %}
    TalkSpace - S'inscrire
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div role="alert"
            class="mb-6 flex items-start gap-3 rounded-md bg-red-200 p-4 text-sm text-red-700">
            <svg xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-6 w-6 flex-none">
                <path stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
            </svg>
            <span>{{ flash_error }}</span>
        </div>
    {% endfor %}

    <div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="w-full max-w-md space-y-8">
            <div>
                <a href="{{ path('app_home') }}"
                    class="block text-center text-4xl font-bold">
                    <span class="text-indigo-600">T</span>S.
                </a>
                <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">
                    S'inscrire
                </h2>
                <p class="mt-2 text-center text-sm text-gray-600">
                    ou
                    <a href="{{ path('app_login') }}"
                        class="font-medium text-indigo-600 hover:text-indigo-500">
                        S'identifier
                    </a>
                </p>
            </div>
            {{ form_start(registerForm) }}
            <div class="mt-8 space-y-6">
                <div>
                    {{ form_row(registerForm.roles) }}
                </div>

                <div class="-space-y-px rounded-md shadow-sm">
                    <div class="flex">
                        <div class="flex-1">
                            {{ form_row(registerForm.firstname) }}
                        </div>
                        <div class="flex-1">
                            {{ form_row(registerForm.lastname) }}
                        </div>
                    </div>
                    <div>
                        {{ form_row(registerForm.email) }}
                    </div>
                    <div>
                        {{ form_row(registerForm.plainPassword) }}
                    </div>
                </div>

                <label class="flex items-center">
                    {{ form_row(registerForm.agreeTerms) }}
                    <span class="ml-2 block text-sm text-gray-900">
                        Je suis d'accord avec la politique de confidentialité.
                    </span>
                </label>

                <div>
                    <button type="submit"
                        class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                                    clip-rule="evenodd" />
                            </svg>
                        </span>
                        S'inscrire
                    </button>
                </div>
            </div>
            {{ form_end(registerForm) }}
        </div>
    </div>

    {# {{ form_start(registerForm) }}
    {{ form_row(registerForm.roles) }}
    {{ form_row(registerForm.firstname) }}
    {{ form_row(registerForm.lastname) }}
    {{ form_row(registerForm.email) }}
    {{ form_row(registerForm.plainPassword) }}
    {{ form_row(registerForm.agreeTerms) }}
    <button type="submit">S'inscrire</button>
    {{ form_end(registerForm) }} #}
{% endblock %}
