{% extends 'base.html.twig' %}

{% block title %}
    TalkSpace - S'inscrire
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div role="alert">
            {{ flash_error }}
        </div>
    {% endfor %}

    <h1 class="text-2xl font-bold">
        S'inscrire
    </h1>

    {{ form_start(registerForm) }}
    {{ form_row(registerForm.firstname) }}
    {{ form_row(registerForm.lastname) }}
    {{ form_row(registerForm.email) }}
    {{ form_row(registerForm.plainPassword) }}
    {{ form_row(registerForm.agreeTerms) }}
    <button type="submit">S'inscrire</button>
    {{ form_end(registerForm) }}
{% endblock %}
